  <div class=''>
    <h4><%= _("Merge ") %></h4>
    <%= form_tag({:controller => '/articles', :action => 'merge'}) do %>
    <%= label_tag(:q, "Article ID") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Merge") %>
<% end %>
  </div>
