  <div class=''>
    <h4><%= _("Merge ") %></h4>
    <%= form_tag :controller => '/articles', :action => 'merge' do %>
      <%= hidden_field_tag(:id, @article.id) %>
      <%= label_tag(:merge_with, "Article ID") %>
      <%= text_field_tag(:merge_with) %>
      <%= submit_tag("Merge Articles") %>
    <% end %>
  </div>
